{% extends 'base.html' %} 
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/create_item_style.css' %}">
  <!-- Box Icons -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- Remix Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
  
  <div class="image-container">
    <img src="{% static 'images/bgBawah.png' %}" alt="bg" class="background-image">
  </div>
  <header>
    
    
    <form method="POST">
      <h1>Add New Item Entry</h1>
      {% csrf_token %}
      <table>
        {{ form.as_table }}
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Add Item Entry" />
          </td>
        </tr>
      </table>
    </form>
  </header>
</body>

{% endblock %}