{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<link rel="stylesheet" href="{% static 'css/main_style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
{% comment %} <link rel="preload" as="image" href="{% static 'images/logo.png' %}"> {% endcomment %}

<div class="identitas">
    <h1></h1>
    <p></p>
    <p></p>
</div> 


<div class="welcome">
    <h1>Halo {{ nama }}!</h1>
</div>

{% comment %} <div class="text-bestseller">
    <h1 class="best">Our Bestsellers</h1>
</div>

<div class="bestsellers" id="collection">
    <nav class="bestseller-picts">
        <div class="navbar-bestseller">
            <a href="#" class="product-image"><img src="{% static 'images/pintu.png' %}" alt="pintu"/></a>
            <h2 class="price">Rp500.000</h2>
            <a href="#" class="produk-link"><span class="produk">Pintu Kemana Saja</span></a>
            <h3 class="star">★★★★★</h3>
            <p class="keterangan">Pintu kemana saja akan membuatmu bebas melakukan perjalanan ke alam liar. Kamu bisa jalan-jalan ke segala alam. Mudah disimpan dan tidak mudah lapuk.</p>
        </div>

        <div class="navbar-bestseller">
            <a href="#"><img src="{% static 'images/kipas.png' %}" alt="kipas" /></a>
            <h2 class="price">Rp200.000</h2>
            <a href="#" class="produk-link"><span class="produk">Kipas Pembersih Code Eror</span></a>
            <h3 class="star">★★★★☆</h3>
            <p class="keterangan">Kode kamu eror? Tenang brookk nyalain kipasnya aja nanti erornya ilang sendiri. Hoax? Uang dijamin tidak kembali. Kalo erornya gak ilang, minimal laptopnya kagak panas lah.</p>
        </div>

        <div class="navbar-bestseller">
            <a href="#"><img src="{% static 'images/senter.png' %}" alt="senter" /></a>
            <h2 class="price">Rp600.000</h2>
            <a href="#" class="produk-link"><span class="produk">Senter Pembesar Nilai</span></a>
            <h3 class="star">★★★★☆</h3>
            <p class="keterangan">Kalo nilainya kecil gak usah nangis ya. Nobita aja kalo jeblok tetep happy kiyowok. Tahu kenapa? Karena digedein pake senter ini. Udah banyak reviewnya, kok.</p>
        </div>

        <div class="navbar-bestseller">
            <a href="#"><img src="{% static 'images/dorayaki.png' %}" alt="dorayaki" /></a>
            <h2 class="price">Rp125.000</h2>
            <a href="#" class="produk-link"><span class="produk">Dorayaki Manis</span></a>
            <h3 class="star">★★★★☆</h3>
            <p class="keterangan">Dorayakinya manis kayak kamu. Dibuat dari tepung pilihan yang bergizi. Coklatnya lumer di mulut, dan bikin kenyang di perut. Kalo gak sempet sarapan, makan ini aja.</p>
        </div>

        <div class="navbar-bestseller">
            <a href="#"><img src="{% static 'images/baling.png' %}" alt="baling" /></a>
            <h2 class="price">Rp330.000</h2>
            <a href="#" class="produk-link"><span class="produk">Baling-Baling Bambu</span></a>
            <h3 class="star">★★★★★</h3>
            <p class="keterangan">Masa kecil kamu pernah mimpi bisa terbang? Eitsss sekarang udah canggih brookk. Balik-baling bambu ini bisa bikin kamu terbang ke sana kemari. Kalo jatuh jangan lupa bangkit lagi.</p>
        </div>
    </nav>

    <div class="text-shop-all">
        <a href="#" class="btn-link">
            <span class="span">Shop All Products →</span>
        </a>
    </div>
</div> {% endcomment %}


<div class="form" id="form">
    {% if not object_entries %}
    <div class="mood-container">
        <div class="no-mood-data">
            <img src="{% static 'images/sedihBanget.png' %}" alt="Sad face" class="sad-image"/>
            <p class="no-data-text">Belum ada data mood pada mental health tracker.</p>
        </div>
    </div>
    {% else %}
        <div class="card-container">
            {% for object_entry in object_entries %}
            <div class="card">
                <div class="card-content">
                    <h3 class="item-name">{{ object_entry.name }}</h3>
                    <p class="item-price">Price: {{ object_entry.price }}</p>
                    <p class="item-category">Category: {{ object_entry.category }}</p>
                    <p class="item-description">{{ object_entry.description }}</p>
                    
                    <div class="card-actions">
                        <a href="{% url 'main:edit_item' object_entry.pk %}">
                            <button class="btn-edit">Edit</button>
                        </a>
                        <a href="{% url 'main:delete_item' object_entry.pk %}">
                            <button class="btn-delete">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <br />

    <a href="{% url 'main:create_object_entry' %}">
        <button class="btn-add">Add New Item Entry</button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

</div> 
{% endblock content %}

