<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Doramiaw</title>
{% load static %}
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="preload" as="image" href="{% static 'images/logo.png' %}">

<div class="identitas">
    <h1>{{ nama_aplikasi }}</h1>
    <p>by: {{ nama }}</p>
    <p>from: {{ kelas }}</p>
</div>

<div class="logo">
    <img src="{% static 'images/logo.png' %}" class="img-logo" alt="Doramiaw">
    <div class="input-wrapper">
        <input type="search" name="search" placeholder="Search product" class="search-field">
        <ion-icon name="search-outline" aria-hidden="true" class="search-icon"></ion-icon>
    </div>
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a href="#home" class="navbar-link has-after">Home</a></li>
            <li><a href="#collection" class="navbar-link has-after">Collection</a></li>
            <li><a href="#form" class="navbar-link has-after">Form</a></li>
            <li><a href="#offer" class="navbar-link has-after">Offer</a></li>
            <li><a href="#blog" class="navbar-link has-after">Blog</a></li>
        </ul>
    </nav>
</div>

<div class="text-bestseller">
    <h1 class="best">Our Bestsellers</h1>
</div>

<div class="bestsellers" id="collection">
    <nav class="bestseller-picts">
        <div class="navbar-bestseller">
            <a href="#" class="product-image"><img src="{% static 'images/pintu.png' %}" alt="pintu"/></a>
            <h2 class="price">Rp500.000</h2>
            <a href="#" class="produk-link"><span class="produk">Pintu Kemana Saja</span></a>
            <h3 class="star">★★★★★</h3>
            <p class="keterangan">Pintu kemana saja akan membuatmu bebas melakukan perjalanan ke alam liar. Kamu bisa jalan-jalan ke segala alam. Mudah disimpan dan tidak mudah lapuk.</p>
        </div>

        <div class="navbar-bestseller">
            <a href="#"><img src="{% static 'images/kipas.png' %}" alt="kipas" /></a>
            <h2 class="price">Rp200.000</h2>
            <a href="#" class="produk-link"><span class="produk">Kipas Pembersih Code Eror</span></a>
            <h3 class="star">★★★★☆</h3>
            <p class="keterangan">Kode kamu eror? Tenang brookk nyalain kipasnya aja nanti erornya ilang sendiri. Hoax? Uang dijamin tidak kembali. Kalo erornya gak ilang, minimal laptopnya kagak panas lah.</p>
        </div>

        <div class="navbar-bestseller">
            <a href="#"><img src="{% static 'images/senter.png' %}" alt="senter" /></a>
            <h2 class="price">Rp600.000</h2>
            <a href="#" class="produk-link"><span class="produk">Senter Pembesar Nilai</span></a>
            <h3 class="star">★★★★☆</h3>
            <p class="keterangan">Kalo nilainya kecil gak usah nangis ya. Nobita aja kalo jeblok tetep happy kiyowok. Tahu kenapa? Karena digedein pake senter ini. Udah banyak reviewnya, kok.</p>
        </div>

        <div class="navbar-bestseller">
            <a href="#"><img src="{% static 'images/dorayaki.png' %}" alt="dorayaki" /></a>
            <h2 class="price">Rp125.000</h2>
            <a href="#" class="produk-link"><span class="produk">Dorayaki Manis</span></a>
            <h3 class="star">★★★★☆</h3>
            <p class="keterangan">Dorayakinya manis kayak kamu. Dibuat dari tepung pilihan yang bergizi. Coklatnya lumer di mulut, dan bikin kenyang di perut. Kalo gak sempet sarapan, makan ini aja.</p>
        </div>

        <div class="navbar-bestseller">
            <a href="#"><img src="{% static 'images/baling.png' %}" alt="baling" /></a>
            <h2 class="price">Rp330.000</h2>
            <a href="#" class="produk-link"><span class="produk">Baling-Baling Bambu</span></a>
            <h3 class="star">★★★★★</h3>
            <p class="keterangan">Masa kecil kamu pernah mimpi bisa terbang? Eitsss sekarang udah canggih brookk. Balik-baling bambu ini bisa bikin kamu terbang ke sana kemari. Kalo jatuh jangan lupa bangkit lagi.</p>
        </div>
    </nav>

    <div class="text-shop-all">
        <a href="#" class="btn-link">
            <span class="span">Shop All Products →</span>
        </a>
    </div>
</div>

<div class="text-form">
    <h1 class="best">Form</h1>
</div>

<div class="form" id="form">
    {% if not object_entries %}
    <p>Belum ada data item pada doramiaw e-commerce.</p>
    {% else %}
    <table>
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
        {% endcomment %} 
        {% for object_entry in object_entries %}
        <tr>
            <td>{{ object_entry.name }}</td>
            <td>{{ object_entry.price }}</td>
            <td>{{ object_entry.category }}</td>
            <td>{{ object_entry.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <br />
    
    <a href="{% url 'main:create_object_entry' %}">
        <button>Add New Item Entry</button>
    </a>
</div>
{% endblock content %}

